
@{
    ViewData["Title"] = "ParagrapheIndex"; 
}

<h2> Index : </h2>

<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Paragraphe" asp-action="Create">Créer une aventure</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Paragraphe" asp-action="Edit">Modifier l'aventure</a>
</li>